/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.user-container {
  border-radius: 1px;
  border: solid black;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 5px 5px 15px;
  align-items: center;
  align-content: center;
  width: 70%;
}

.user_img {
  border: 1px solid #d3d3d3;
  height: 50px;
}

.user-post-counter {
  margin-left: 150px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo {
  border: solid black;
  padding: 5px 5px 5px 5px;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 10px;
  width: 100%;
}

.bio {
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}

.post {
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}

.photo-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment {
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-comment-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-like {
  margin-top: 50px;
}

.posts-comment-like {
  margin-left: 70%;
}

.all-posts {
  margin-top: 40px;
  margin-left: 40%;
}

.page-description {
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}

.page-btn {
  border: solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}
